<div id="spree-header" style="background:#921400 url(/assets/spree_header-198b754a34f1428c25f64303be8ac2aae84a076433af18ca55b65d7cbf1a0e13.jpg) center center;
        background-size:cover;
        margin-bottom:20px;">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>
