<% if spree_current_user %>
    <li><a href="/account" style=" background-color: #991B1E;font-weight: bold;">My Account</a></li>
    <li><a href="/logout" style=" background-color: #991B1E;font-weight: bold;">Logout</a></li>
<% else %>
    <li id="link-to-login"><a href="/login" style=" background-color: #991B1E; font-weight: bold;">Login</a></li>
<% end %>